body {
	margin: 0;
	overflow-x: hidden;
}

#bgimg {
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-image: url("./img/greenwall.webp");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.85;
	filter: brightness(25%);
}

.frontpage {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 3fr 2fr;
}

.frontleft, .frontright {
	padding: 5vw;
}

.frontleft {
	color: white;
	background: rgb(0,200,35);
	background: linear-gradient(90deg, rgba(0,125,35,0.3) 0%, rgba(0,125,35,0.3) 65%, rgba(0,125,35,0) 100%);
	font-family: "Open Sans";
	display: flex;
	align-items: center;
	padding-left: 7.5vw;
}

.frontleft div {
	display: inline-block;
	max-width: 60%;
	font-size: 1.75rem;
}

.title {
	font-family: "Open Sans Light";
	font-size: 6vw;
	color: white;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.25);
	/* font-weight: bold; */
}

#playBtn {
	display: inline-block;
	font-size: 3vw;
	border: none;
	transition: filter 0.3s;
	cursor: pointer;
	color: white;
	margin-top: 2em;
	text-align: center;
	width: 100%;
	font-weight: bold;
}

#playBtn:hover {
	filter: brightness(65%);
}

.frontright {
	display: flex;
	align-items: center;
	text-align: center;
}

/* .frontpage {
	display: none;
}

*/

.game {
	display: none;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.gamecontent {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 25vh;
	flex-flow: column;
}

.questionCounter {
	color: white;
	font-family: "Open Sans Light";
	font-size: 2vw;
}

#gameHeadline {
	color: white;
	font-family: "Open Sans Light";
	font-size: 3vw;
	max-width: 75vw;
	text-align: center;
}

.gameBtnContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 25vh;
	column-gap: 2vw;
}

.gameBtnContainer button {
	font-size: 3rem;
	padding: 0.5rem 1rem;
	width: 20vw;
	color: white;
	border: none;
	cursor: pointer;
	transition: filter 0.3s;
}

.gameBtnContainer button:hover{
	filter: brightness(85%);
}

#btnFalse {
	background-color: #c0392b;
}

#btnTrue {
	background-color: #27ae60;
}

.end {
	display: none;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.correctQuestions {
	font-family: "Open Sans Light";
	font-size: 3vw;
	color: white;
	margin-top: 20vh;
	margin-bottom: 10vh;
}

#questionDropdownContainer {
	display: grid;
	width: 35vw;
	row-gap: 1vh;
	margin-bottom: 5vh;
}

.questionDropdown {
	background-color: white;
	font-family: "Open Sans";
	padding: 1rem;
	cursor: pointer;
	transition: filter 0.3s;
	color: white;
}

.questionDropdown:hover {
	filter: brightness(85%);
}

.questionDropdown[data-correct] {
	background-color: #27ae60;
}

.questionDropdown[data-wrong] {
	background-color: #c0392b;
}

.dropdownHeadline, .dropdownHeadlineAnswer {
	font-size: 1.75rem;
}

.dropdownHeadlineAnswer {
	float: right;
	font-weight: bold;
}

.dropdownContent {
	font-size: 1.25rem;
	overflow: hidden;
	height: 0;
}

.questionDropdown[data-active] .dropdownContent {
	height: auto;
	margin-top: 1em;
	margin-bottom: 0.25em;
}
